{% extends 'newsletter/base.html' %}
{% block title%}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">
        Список писем
    </h1>
</div>
{% endblock %}

{% block context%}
<div class="row text-center">
    <div class="row text-center">
    <a class="btn btn-lg btn-block btn-outline-primary"
       href="{% url 'newsletter:letter_create' %}">Создать новое письмо</a>
    {% for item in object_list %}

    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ item }}</h4>
            </div>
            <div class="card-body">

                <h6 class="card-title pricing-card-title">{{ item.text_letter }}</h6>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>
                    </li>

                </ul>

                <a class="btn btn-lg btn-block btn-outline-primary"
                   href="{% url 'newsletter:letter_detail' item.pk %}">Подробнее</a>

            </div>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}